<h1><b></b>About me</b></h1>
<hr>

<div class= "row">
  <div class 'col-md-4'>
   <%= image_tag "http://via.placeholder.com/300x200", width: 300, alt: "Landscape picture" %> 
  </div>
  
   <div class 'col-md-8'>
    <p>Description.</p>
  </div>
  
</div>

